@charset "UTF-8";
	
	#container {
	width: 1200px;
	margin: 0 auto;
	}
	
	#topMenu {
	height: 50px;
	width: 1200px;
	}

	#topMenu ul li {
		list-style: none;
		color: white;
		background-color: #2d2d2d;
		float: left;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
	}
	
	#topMenu .menuLink {
		text-decoration: none;
		color: white;
		display: block;
		width: 150px;
		font-size: 16px;
		font-weight: bold;
		font-family: "Trebuchet MS", Dotum, Arial;
	}
	
	#topMenu .menuLink:hover {
		color: red;
		background-color: #4d4d4d;
	}
	
